
<md-toolbar class="md-hue-2" color="primary"><h1>{{tests.name}}</h1></md-toolbar>

<md-card>
	<h2> {{questions[questionNumber]}} </h2>
	
	<form >
		<div class="answers" *ngFor="let answer of answers[questionNumber]">
			<input type="radio" name="testQuestions" value="{{answer.option}}" > {{answer.option}}
		</div>
	</form>

	<textarea type='text' placeholder="Add additional comments here..."></textarea><br>
	
	<div class="button-container">
	      <button md-raised-button color="primary" [disabled]="firstQuestionState" (click)="previousQuestion()"> BACK</button>
	      <button md-raised-button color="primary" (click)="onSave('submitQuiz')"> SAVE</button>
	      <button md-raised-button color="primary" [disabled]="lastQuestionState" (click)="nextQuestion(); saveAnswer('userAnswer')"> NEXT</button>
	</div>

	<div class="my-clear"></div>
</md-card>