
<md-toolbar class="md-hue-2" color="primary"><h1>Start Quiz !</h1></md-toolbar>

<md-card>
	
<strong>Contact Information</strong><br><br>
	<md-input placeholder="Contact Name" style="width:100%"></md-input>
	<br>

	<md-input placeholder="Company Name" style="width:100%"></md-input>
	<br>

	<md-input placeholder="Contact Number" style="width:45%"></md-input> <md-input placeholder="Contact Email" style="width:45%"></md-input>
	<br>

<strong>What are you interested in?</strong><br><br>
	 <button md-raised-button color="primary">Test 1</button>
	 <button md-raised-button color="primary" >Test 2</button>
	 <button md-raised-button color="primary" >Test 3</button>
	 <button md-raised-button color="primary" >Test 4</button>


	<textarea placeholder="Additional comments"></textarea>
	<br>

	<div class="button-container">
	      <button md-raised-button color="primary" (click)="navStartTest()">START</button>
	</div>

	<div class="my-clear"></div>
</md-card>

